@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic');

body {
  background-color:#F2F0F6;
  font-family: Inter;
  font-weight: normal;
}

input {
  all: unset;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  padding-top: 24px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

p {
  font-size: 18;
  font-weight: normal;
  margin: 0;
}

.main-container {
  font-family: Inter;
  font-weight: normal;
  width: 900px;
  margin: auto;
  margin-top: 100px;
}

/* .header-bar-container {
  position: absolute;
  top: 36px;
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: flex-start;
} */
.header-bar-container {
  position: relative;
  top: -64px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
}

.helper-text {
  font-size: 14;
  font-weight: normal;
  margin: 0;
  padding-top: 36px;
  color: #6C6C6C;
}

.selector-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  height: 55px;
  width: 225px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.selector-container:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.date-container {
  font-size: 18px;
  font-family: Inter;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  height: 55px;
  align-items: center;
}

.submit-button {
  font-family: Inter;
  font-size: 18px;
  outline: none;
  border: none;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  height: 55px;
  width: 200px;
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 48px;
  align-items: center;
  border-radius: 50px;
  background-color: #C6DBC6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.submit-button:disabled {
  background-color: #E2E2E2;
  box-shadow: none;
}

.submit-button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.submit-button:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
}

.dropdown-container {
  width: 60px;
  justify-content: center;
  position: absolute;
  right: 0px;
  align-items: center;
  background-color: white;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.dropdown-container:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.dropdown-big {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dropdown-content {
  display: flex;
  margin: 8px;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.back-button:hover {
  cursor: pointer;
}

.data-container-left {
  margin-right: 8px;
}

.data-container-right {
  margin-left: 8px;
}

.data-container-left, .data-container-right {
  height: 140px;
  flex: 1;
  display: flex;
  margin-bottom: 48px;
  border-radius: 20px;
  flex-direction: column;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.data-container-left:hover, .data-container-right:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.stat-container {
  margin-top: 48px;
  display: flex;
}

.loader-container {
  height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {

  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 740px) {
  
  .stat-container {
    flex-direction: column;
  }

  .data-container-right {
    padding: 16px;
    margin-left: 0;
  }

  .data-container-left {
    padding: 16px;
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {

  .main-container {
    width: 96%;
  }

}